/* 公用部分 */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.height_auto {
  height: 100%;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex_align_center {
  align-items: center;
}

.flex_justify_center {
  justify-content: center;
}

.flex_direction_column {
  flex-direction: column;
}

.flex_space_between {
  justify-content: space-between;
}

.main_title1 {
  font-size: 40px;
  color: #000;
}

.main_title2 {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  margin-top: 43px;
}

.main_title3 {
  display: block;
  font-size: 24px;
  margin-top: 25px;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  box-sizing: content-box;
  min-width: 96px;
  max-width: 70%;
  padding: 40px 20px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
  background-color: rgba(50, 50, 51, 0.88);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.main_content_text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 65px;
  margin-top: 10px;
  line-height: 30px;
}

.Analytics_img img {
  width: 90%;
}

.title_left_icon {
  width: 21px;
  height: 28px;
  margin-right: 5px;
  vertical-align: sub;
  margin-top: 14px;
}

/* 一般样式开始 */
.logo {
  height: 94px;
  line-height: 94px;
}

.logo img {
  width: 183px;
  margin-left: 91px;
}

.top_big_img {
  width: 100%;
  position: relative;
  background: #f5f9fd;
}

.top_big_img img {
  width: 100%;
  /* height: 669px; */
}

.top_content {
  position: absolute;
  left: 4%;
  top: 25%;
  bottom: 11%;
  width: calc(100% - 4%);
  color: #fff;
}

.top_content_body {
  padding: 0px 20px;
  z-index: 0;
  position: relative;
  width: 47%;
  height: 100%;
}

.top_content_button {
  position: absolute;
  left: 8%;
  bottom: 15%;
  height: 24%;
}

.top_content_button img {
  width: 26%;
  cursor: pointer;
}

.top_content_button span {
  width: 7%;
  height: 50%;
}

.top_content_button span i {
  width: 80%;
  font-style: normal;
  border: 1px solid #fff;
}

.banner_content {
  background: #f5f9fd;
  font-size: 18px;
}

.banner_content .el-col {
  padding: 2% 5%;
}

.banner_content img {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}

.banner_content .banner_list_icon {
  width: 75px;
  height: 75px;
  margin-right: 20px;
}

.banner_content .banner_list_title {
  color: #000000;
}

.banner_content .banner_list_content {
  color: #666666;
  line-height: 30px;
  margin: 13px 0px 18px 0px;
}

.banner_content .banner_list_button {
  color: #cd3c44;
  cursor: pointer;
}

.content_body1 {
  padding: 108px 5%;
}

.content_body1 .content_body1_title {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  align-items: flex-start;
}

.content_body1 .content_body1_title img {
  width: 21px;
  margin-right: 5px;
  vertical-align: sub;
  margin-top: 8px;
}

.content_body1 .content_body1_title2 {
  color: #000000;
  font-size: 30px;
  margin-top: 54px;
  margin-bottom: 10px;
  padding-left: 21px;
}

.content_body1_content {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 21px;
  line-height: 30px;
}

.watch_button {
  color: #cd3c44;
  font-size: 18px;
  cursor: pointer;
}

.watch_button1 {
  padding-left: 21px;
}

.watch_button img {
  width: 27px;
  height: 27px;
  margin-left: 5px;
}

.content_body1_left {
  padding-right: 8%;
}

.content_body1_right {
  position: relative;
}

.content_body1_right img:nth-child(1) {
  width: 100%;
}

.content_body1_right .play_img {
  width: 27%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.header img {
  width: 100%;
}

.content_body2 {
  margin-top: -5px;
}

.data_manage_body1 {
  padding: 5% 10%;
  background: url("../assets/bg.png") no-repeat;
  background-size: 100% 100%;
}

.data_manage_body1 img.content_body2_img1 {
  cursor: pointer;
}

.data_manage_body1_item {
  margin-top: 70px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.data_manage_body1_item:nth-child(1) {
  margin-top: 0px;
}

.content_body2_img1 {
  width: 95%;
}

.data_manage_body1_right .left_icon {
  width: 65px;
  height: 121px;
  margin-top: 15px;
}

.data_manage_body1 .watch_button {
  padding-left: 0px;
  margin-top: 20px;
}

.data_manage_body2_row1 {
  width: calc(100% - 5%);
  margin: 40px 0 40px 5%;
  border-bottom: 1px solid #ccc;
  padding-right: 160px;
}

.data_manage_body2_row2 {
  margin-bottom: 60px;
  position: relative;
}

.data_manage_body2_right {
  width: 160px;
  height: 380px;
  position: fixed;
  right: 0;
  top: 30%;
  background: url("../assets/data_manage_body2_img2.png") no-repeat;
  background-size: 100% 100%;
}

.data_manage_body2_right img {
  width: 130px;
  margin-left: 10px;
  cursor: pointer;
}

.data_manage_body2_row2_title {
  width: 58%;
  margin: 0 auto;
  font-size: 40px;
  color: #000;
  font-weight: 300;
  line-height: 55px;
  background: url("../assets/data_manage_body2_icon1.png") no-repeat;
  background-position: center;
  background-size: 300px 100%;
}

.data_manage_body2_row2_title2 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}

.data_manage_body2_row2_logo {
  margin: 50px 0px 40px 0px;
}

.data_manage_body2_row2_more {
  margin-bottom: 60px;
  cursor: pointer;
}

.data_manage_body2_row2_button .data_manage_body2_row2_button {
  width: 34%;
}

.data_manage_body2_row2_button .data_manage_body2_row2_button img {
  width: 100%;
  margin-bottom: -6px;
}

.data_manage_body2_row2_button .data_manage_body2_row2_button:nth-child(1) {
  margin-right: 50px;
}

.data_manage_body2_row2_button .data_manage_body2_row2_button .el-row {
  height: 108px;
  line-height: 108px;
  background: #a8161c;
  text-align: center;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.bottom_body {
  border-top: 6px solid #a8161c;
}

.bottom_title {
  height: 162px;
  padding-left: 5%;
  align-items: flex-end;
}

.bottom_content {
  padding-left: 5%;
  background: url("../assets/bottom_bgm.png") no-repeat;
  background-size: 100% 100%;
  margin-top: 20px;
  position: relative;
}

.bottom_img {
  width: 263px;
  margin-top: 150px;
}

.bottom_content_item {
  text-align: center;
  line-height: 30px;
}

.bottom_copyright {
  margin-top: 34px;
  margin-bottom: 58px;
  font-size: 16px;
  color: #34322f;
}

.bottom_right {
  position: absolute;
  top: -130px;
  right: 5%;
  text-align: center;
}

.bottom_right_attention {
  color: rgba(52, 50, 47, 1);
  font-size: 30px;
}

.bottom_right_weixin {
  font-size: 20px;
  color: rgba(136, 134, 131, 1);
}

.bottom_right img {
  margin: 20px 0px 25px 0px;
}

.home .video_dialog .el-dialog {
  margin-top: 0vh !important;
  width: 70%;
}

.home .register_dialog .el-dialog {
  max-height: 88vh;
  overflow-y: auto;
  margin-top: 5vh !important;
  position: relative;
  background: rgba(200, 200, 200, 1);
}

.home .register_dialog .el-dialog::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 1);
}

.home .register_dialog .el-dialog::-webkit-scrollbar {
  width: 6px;
}

.home .register_dialog .el-dialog::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #666;
}

.home .register_dialog .el-dialog .el-dialog__header {
  padding: 0;
}

.home .register_dialog .el-dialog .register_close {
  position: absolute;
  top: 0;
  right: 0;
}

.home .video_dialog .el-dialog .el-dialog__header {
  padding: 0;
}

.home .video_dialog .el-dialog .el-dialog__headerbtn {
  z-index: 9;
  font-size: 24px;
  top: 0;
  right: 0;
}

.home .video_dialog .el-dialog .video_close {
  position: absolute;
  top: -14px;
  right: -16px;
  font-size: 22px;
  padding: 6px;
  border: none;
  cursor: pointer;
  z-index: 9;
}

.home .video_dialog .el-dialog .el-dialog__headerbtn .el-dialog__close {
  /* border: 2px solid #ccc; */
  color: #ccc;
  border-radius: 50%;
  font-weight: bold;
}

.home .video_dialog .el-dialog .el-dialog__body {
  padding: 0;
  background: #000;
}

.video_body {
  width: 100%;
}

.login_button {
  text-align: right;
}

/* 注册页开始 */
.register_body {
  padding: 50px 5%;
}

.text_left_icon {
  width: 15px;
  vertical-align: sub;
  margin-right: 8px;
}

.metting_title {
  font-size: 30px;
  color: #000;
}

.metting_left_item .metting_left_item_elrow {
  margin-bottom: 20px;
}

.metting_left_item_content {
  text-align: center;
}

.metting_content_right {
  padding-left: 40px;
}

.veritas_register_title {
  font-size: 26px;
  color: #333;
}

.veritas_left_item {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  margin: 20px 0px;
}

.veritas_text_ul {
  margin: 30px 0px;
}

.veritas_right_body {
  margin-top: -150px;
}

.text_left_date_icon {
  width: 30px;
  height: 30px;
  vertical-align: sub;
  margin-right: 18px;
}

.metting_content1 {
  font-size: 24px;
  color: #a8161c;
}

.metting_left_item {
  margin-bottom: 40px;
}

.metting_schedule {
  font-size: 16px;
  color: #ccc;
}

.metting_schedule .el-row {
  margin-bottom: 40px;
}

.metting_schedule span:nth-child(1) {
  color: #000;
  display: inline-block;
  width: 191px;
  height: 53px;
  line-height: 53px;
  background: rgba(204, 204, 204, 1);
  box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.15);
}

.metting_schedule span:nth-child(2) {
  color: #000;
  display: inline-block;
  width: 191px;
  height: 53px;
  line-height: 53px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(204, 204, 204, 1);
  box-shadow: 5px 5px 0px 0px rgba(153, 153, 153, 0.15);
}

.register_lecturer_img {
  width: 100px;
  margin-right: 20px;
}

.register_lecturer_text {
  font-size: 16px;
  color: #333;
  text-align: left;
  line-height: 30px;
}

.apply_notice {
  line-height: 30px;
  color: #333;
  font-size: 16px;
}

.apply_gifts {
  margin-top: 30px;
  justify-content: space-between;
}

.apply_gifts img {
  width: 30%;
}

.MettingRightModule {
  background: rgba(200, 200, 200, 1);
  padding: 20px 30px 40px 30px;
}

.main_font1 {
  font-size: 16px;
  color: #333;
  margin-top: 30px;
}

.form_content {
  margin-top: 30px;
}

.form_content .el-form-item {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 25px;
}

.form_content .el-form-item:last-child {
  background: none;
}

.el-form-item__label {
  text-align: left;
  padding-left: 12px;
  white-space: nowrap;
  color: #333;
}

.form_content .el-input__inner {
  border: 1px solid #fff;
  /* border-radius: 0px 4px 4px 0px; */
}

.declare_text {
  font-size: 14px;
}

.declare_text .el-checkbox {
  margin-top: 2px;
}

.declare_text .el-checkbox__label {
  font-size: 14px;
  white-space: normal;
}

.declare_text span {
  margin-left: 5px;
}

.declare_text a {
  color: #a8161c;
}

.form_submit_button {
  text-align: center;
}

.form_submit_button .el-form-item__content {
  margin-left: 0px !important;
}

.form_submit_button .el-button {
  width: 340px;
  height: 70px;
  background: rgba(168, 22, 28, 1);
  border-radius: 40px;
  border-color: rgba(168, 22, 28, 1);
  margin-top: 25px;
  font-size: 18px;
}

.form_submit_button .el-button--primary:hover {
  border-color: none;
}

.form_content .el-cascader,
.form_content .el-select {
  width: 100%;
}

.el-cascader .el-input .el-input__inner:focus,
.el-cascader .el-input.is-focus .el-input__inner {
  border-color: #fff;
}

.el-cascader .el-input .el-input__inner:hover,
.el-cascader .el-input.is-hover .el-input__inner {
  border-color: #fff;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: #fff;
}

.el-select .el-input__inner:focus {
  border-color: #fff;
}

.el-select .el-input__inner:hover {
  border-color: #fff;
}

/* 注册页结束 */
/* 一般样式结束 */

/* 适配开始 */
@media screen and (max-width: 1190px) {
  .logo {
    height: 80px;
    line-height: 80px;
  }

  .banner_content .el-col {
    padding: 2% 3%;
  }

  .top_content_button {
    bottom: 18%;
  }

  .content_body1 .content_body1_title img {
    width: 13px;
  }

  .content_body1 .content_body1_title {
    font-size: 26px;
  }

  .content_body1 .content_body1_title2 {
    font-size: 22px;
    margin-top: 33px;
  }

  .main_title1 {
    font-size: 26px;
  }

  .main_title2 {
    font-size: 22px;
    margin-top: 30px;
  }

  .data_manage_body1_right .left_icon {
    width: 43px;
    height: 84px;
    margin-top: 9px;
  }

  .title_left_icon {
    width: 12px;
    height: 22px;
    margin-top: 7px;
  }

  .data_manage_body2_row2_title {
    font-size: 26px;
  }

  .data_manage_body2_row2_title2 {
    font-size: 18px;
  }

  .data_manage_body2_row2_button .data_manage_body2_row2_button .el-row {
    height: 80px;
    line-height: 80px;
    font-size: 22px;
  }

  .bottom_title {
    height: 110px;
  }

  .bottom_img {
    margin-top: 120px;
  }

  .bottom_right_attention {
    font-size: 22px;
  }

  .bottom_right_weixin {
    font-size: 16px;
  }

  .content_body1_right .play_img {
    width: 25%;
  }

  .data_manage_body2_row2_more img {
    width: 250px;
  }

  .bottom_img {
    width: 210px;
  }

  .bottom_right {
    top: -90px;
  }
}

@media screen and (max-width: 991px) {
  .logo img {
    width: 20%;
    margin-left: 90px;
  }

  .top_content_body {
    width: 57%;
  }

  .top_content_button {
    height: 36%;
    bottom: -4%;
  }

  .banner_content {
    padding: 0 5%;
  }

  .banner_content .el-col {
    padding: 40px 5%;
    border-top: 1px solid #ccc;
    align-items: center;
  }

  .banner_content .el-col:nth-child(1) {
    border-top: none;
  }

  .content_body1 {
    flex-direction: column;
    padding: 60px 5%;
  }

  .content_body1 .content_body1_title2 {
    margin-top: 15px;
  }

  .watch_button {
    margin-bottom: 30px;
  }

  .content_body1_right img:nth-child(1) {
    width: 80%;
  }

  .data_manage_body1 {
    padding: 5% 5%;
  }

  .data_manage_body1_item {
    flex-direction: column;
  }

  .data_manage_body2_row1 {
    flex-direction: column;
    padding-right: 5%;
  }

  .data_manage_body2_row2_title {
    line-height: 50px;
    width: 86%;
  }

  .data_manage_body2_row2_button .data_manage_body2_row2_button:nth-child(1) {
    margin: 0 auto 30px auto;
  }

  .data_manage_body2_row2_button .data_manage_body2_row2_button {
    width: 70%;
    margin: 0 auto;
  }

  .data_manage_body2_row2_button {
    flex-direction: column;
  }

  .bottom_content_item {
    text-align: left;
  }

  .bottom_title {
    height: 70px;
  }

  .bottom_content_item .el-col {
    display: -webkit-flex;
    display: flex;
  }

  .bottom_right {
    position: static;
    margin-top: 20px;
  }

  .bottom_img {
    margin-top: 45px;
  }

  .bottom_right img {
    margin: 12px 0px 12px 0px;
  }

  .bottom_copyright span {
    display: block;
    text-align: center;
    line-height: 30px;
  }

  .bottom_content {
    padding: 0px 5%;
  }

  .metting_content_right {
    padding-left: 0px;
  }

  .MettingRightModule {
    margin-bottom: 20px;
  }

  .veritas_right_body {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    height: 60px;
    line-height: 60px;
  }

  .logo img {
    width: 25%;
    margin-left: 36px;
  }

  .banner_content .banner_list_icon {
    width: 40px;
    height: 40px;
  }

  .banner_content .el-col {
    padding: 15px 5%;
  }

  .banner_content .banner_list_title {
    font-size: 16px;
  }

  .banner_content .banner_list_content {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0px 14px 0px;
  }

  .banner_content .banner_list_button {
    font-size: 13px;
  }

  .content_body1 {
    padding: 30px 15px;
  }

  .content_body1 .content_body1_title {
    font-size: 18px;
  }

  .content_body1 .content_body1_title img {
    width: 10px;
    margin-top: 5px;
  }

  .content_body1 .content_body1_title2 {
    font-size: 16px;
    padding-left: 13px;
  }

  .content_body1_content {
    font-size: 14px;
    line-height: 27px;
    padding-left: 13px;
  }

  .watch_button {
    font-size: 14px;
    padding-left: 13px;
  }

  .content_body1_right img:nth-child(1) {
    width: 100%;
    height: 200px;
  }

  .top_content_body {
    width: 94%;
  }

  .top_content {
    top: 16%;
  }

  .top_content_button {
    height: 23%;
    bottom: -1%;
    left: 11%;
  }

  .top_content_button img {
    width: 40%;
  }

  .main_title1 {
    font-size: 18px;
  }

  .main_title2 {
    font-size: 16px;
    margin-top: 13px;
  }

  .data_manage_body1_right .left_icon {
    width: 11px;
    height: 17px;
    margin-top: 5px;
  }

  .main_content_text {
    font-size: 14px;
    padding-left: 11px;
    line-height: 27px;
  }

  .watch_button img {
    width: 19px;
    height: 19px;
  }

  .main_title3 {
    font-size: 16px;
    margin-top: 15px;
  }

  .title_left_icon {
    width: 9px;
    height: 14px;
    margin-top: 6px;
  }

  .data_manage_body2_row2_title {
    font-size: 18px;
    line-height: 30px;
  }

  .data_manage_body2_row2_title2 {
    font-size: 16px;
    width: 81%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    line-height: 27px;
  }

  .data_manage_body2_row2_logo {
    margin: 25px 0px 25px 0px;
  }

  .data_manage_body2_row2_logo img {
    width: 60%;
    height: 120px;
  }

  .data_manage_body2_row2_more img {
    width: 200px;
    height: 50px;
  }

  .data_manage_body2_row2_button .data_manage_body2_row2_button {
    width: 90%;
  }

  .data_manage_body2_row2_button .data_manage_body2_row2_button .el-row {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
  }

  .bottom_title {
    height: 50px;
    font-weight: 500;
  }

  .bottom_content {
    margin-top: 10px;
    font-size: 14px;
  }

  .bottom_right_attention {
    font-size: 16px;
  }

  .bottom_right img {
    margin: 10px 0px 10px 0px;
  }

  .bottom_img {
    margin-top: 25px;
    width: 150px;
  }

  .bottom_copyright {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 13px;
  }

  .phone_footer_bottom {
    height: 160px;
    background: url("../assets/phone_footer_bg.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -20px;
    padding-top: 20px;
  }

  .phone_footer_bottom img {
    width: 160px;
    height: 60px;
    cursor: pointer;
  }

  .phone_footer_bottom img:nth-child(1) {
    margin-right: 20px;
  }

  .metting_content_right {
    padding-left: 0px;
  }

  .form_submit_button .el-button {
    width: 240px;
    height: 47px;
    font-size: 14px;
  }

  .register_body {
    padding: 0px;
    margin-top: -5px;
  }

  .MettingRightModule {
    padding: 40px 15px 20px 15px;
    margin-bottom: 20px;
    position: relative;
  }

  .container {
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
  }

  .corner {
    width: 0px;
    /*  宽高设置为0，很重要，否则达不到效果 */
    height: 0px;
    border: 30px solid #000;
    border-bottom-color: transparent;
    /* 设置透明背景色 */
    border-left-color: transparent;
    border-right-color: transparent;
  }

  .metting_title {
    font-size: 20px;
  }

  .text_left_icon {
    width: 11px;
    margin-right: 4px;
  }

  .form_content .el-form-item__label {
    padding-right: 0;
  }

  .main_font1 {
    font-size: 16px;
    margin-top: 10px;
  }

  .xs_show_left {
    padding: 0px 15px;
  }

  .text_left_date_icon {
    width: 22px;
    height: 22px;
  }

  .metting_content1 {
    font-size: 16px;
  }

  .metting_schedule span:nth-child(1),
  .metting_schedule span:nth-child(2) {
    width: 42%;
    height: 45px;
    line-height: 45px;
  }

  .metting_schedule .el-row {
    margin-bottom: 25px;
  }

  .metting_schedule {
    font-size: 14px;
  }

  .apply_notice {
    font-size: 14px;
    line-height: 27px;
  }

  .veritas_header_phone {
    margin-top: 40px;
  }

  .veritas_right_body {
    margin-top: 20px;
  }

  .veritas_content {
    padding: 0px 15px;
  }

  .veritas_left_item {
    font-size: 14px;
    line-height: 25px;
  }

  .veritas_text_ul {
    margin: 15px 0px;
  }

  .veritas_register_title {
    font-size: 16px;
  }

  .apply_gifts img {
    width: 30%;
    height: 120px;
  }

  .data_manage_body2_row2_title {
    background-size: 200px 100%;
    width: 90%;
  }

  .home .video_dialog .el-dialog {
    width: 100%;
  }

  .home .login_dialog .el-dialog {
    width: 95%;
  }

  .home .register_dialog .el-dialog {
    width: 95%;
    height: 90vh;
    overflow-y: auto;
  }

  .home .video_dialog .el-dialog .video_close {
    top: auto;
    bottom: -50px;
    right: 50%;
    margin-right: -22px;
  }

  .video_body {
    height: 240px;
  }

  .data_manage_body1_item {
    margin-top: 30px;
  }

  .banner_content {
    padding: 0 15px;
  }

  .content_body1_left {
    padding-right: 0;
  }

  .data_manage_body1 {
    padding: 30px 15px;
  }

  .data_manage_body2_row1 {
    padding-right: 15px;
    margin: 40px 0 40px 15px;
  }

  .el-popper.el-cascader__dropdown {
    left: 5px !important;
    width: 96%;
  }
}
